<header class="c-header">
  <div class="header-menu-button">
    <span role="button" class="c-icon" variant="menu_close"> </span>
  </div>
  <a href="/" class="title"><h1>HTMX - <%= title %></h1></a>
</header>
