<aside class="c-sidebar">
  <h2 class="subtitle">HTMX</h2>

  <ul class="menu" role="menu">
    <li class="menu-item" role="menuitem"><a href="/blog">Blog</a></li>
    <li class="menu-item" role="menuitem"><a href="/feed">Feed</a></li>
    <li class="menu-item" role="menuitem"><a href="/chat">Chat</a></li>
  </ul>
</aside>
