<%- contentFor('body') %>

<section>
  <h2 class="page-title"><%= title %></h2>

  <div hx-sse="connect:/feed/sse/posts">
    <div hx-get="/feed/posts" hx-trigger="sse:message"></div>
  </div>
</section>
