<%- contentFor('body') %>

<h2 class="page-title">Aplicações de exemplo</h2>
<ul>
  <li>Blog - atualizando o conteudo com infinite scroll</li>
  <li>SocialBoard - atualizando o conteudo com o Server Sent Event (SSE)</li>
  <li>Chat - troca de mensagens em tempo real usando Web Socker (ws)</li>
</ul>
