<%- contentFor('body') %>

<p>Welcome to <%= title %></p>

<a href="/blog">Blog</a>

<button
  hx-get="/blog"
  hx-trigger="click"
  hx-target="#parent-div"
  hx-swap="outerHTML"
>
  Click Me!
</button>
<div id="parent-div"></div>
