:root {
  --color01: #090a0a;
  --color02: #57585c;
  --color03: #989aa3;
  --color04: #252833;
  --color05: #515257;
  --color06: #fff;
}

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

body {
  font: 16px "Open Sans", sans-serif;
}

/* Resets */
a {
  text-decoration: none;
}

/* Headings */
.page-title,
.subtitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.page-title {
  padding: 40px 0px 20px 0px;
}

/* Animations */
.c-sidebar--width-animation {
  transition: width 0.3s, color 1s;
}

/* Button */
.c-button {
  font-size: 20px;
  background-color: var(--color03);
  color: var(--color06);
  outline: none;
  border: none;
  padding: 10px 35px;
}

/* Icons */

.c-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.c-icon[variant="menu_close"] {
  background-image: url(/icons/menu_close.svg);
}

.c-icon[variant="menu_open"] {
  background-image: url(/icons/menu_open.svg);
}

.c-icon[variant="user"] {
  background-image: url(/icons/user.svg);
}

/* Header */
.c-header {
  height: 100px;
  background-color: var(--color01);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.c-header .header-menu-button {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #252833;
  cursor: pointer;
}

.c-header .title {
  padding-left: 105px;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
}

/* Wrapper */
.c-wrapper {
  height: calc(100% - 100px);
  display: flex;
}

/* Sidebar */
.c-sidebar {
  width: 320px;
  background-color: var(--color04);
}

.c-sidebar.opened {
  width: 50px;
}

.c-sidebar .subtitle {
  border-bottom: 1px solid var(--color06);
  font-weight: bold;
  font-size: 20px;
}

.c-sidebar .subtitle,
.c-sidebar .menu-item {
  padding: 20px 0px 20px 50px;
}

.c-sidebar .subtitle,
.c-sidebar .menu-item a {
  color: var(--color06);
}

.c-sidebar .menu-item a {
  width: 100%;
  display: inline-block;
}

.c-sidebar .menu-item {
  cursor: pointer;
}

.c-sidebar .menu-item:hover a,
.c-sidebar .menu-item:hover a {
  text-decoration: underline;
}

/* Main */
.c-main {
  width: calc(100% - 320px);
  overflow-y: auto;
}

.c-main .container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

/* Blog */
.blog--post {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  padding: 20px 20px 10px 20px;
}

.blog--post .blog--post__author {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.blog--post .blog--post__author svg {
  width: 20px;
  height: 20px;
}

.blog--post .blog--post__body {
  display: flex;
}
.blog--post__content {
  max-height: 117px;
  overflow: hidden;
}

.blog--post .blog--post__image {
  width: 130px;
  height: 130px;
  object-fit: contain;
  object-position: top;
  margin-right: 20px;
}

.blog--post .blog--post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog--post .blog--post__footer .blog--post__created {
  font-size: 10px;
}

/* Spinner */
.c-spinner {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  transition: opacity 300ms ease-in;
}
