<header class="c-header">
  <div id="menu-toggle" class="header-menu-button">
    <span role="button" class="c-icon" variant="menu_close"> </span>
  </div>
  <a href="/" class="title"><h1><%= title %> HTMX</h1></a>
</header>
